<div class="page-header">
  <h1>Members</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newMembersPath() %>" class="btn btn-primary">Create New Member</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Instrument</th>
    <th>BandID</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (member) in members { %>
      <tr>
      <td><%= member.Name %></td>
        <td><%= member.Instrument %></td>
        <td><%= member.BandID %></td>
        <td>
          <div class="pull-right">
            <a href="<%= memberPath({ member_id: member.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editMemberPath({ member_id: member.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= memberPath({ member_id: member.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
