<div class="page-header">
  <h1>Band#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= bandsPath() %>" class="btn btn-info">Back to all Bands</a></li>
  <li class="list-inline-item"><a href="<%= editBandPath({ band_id: band.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= bandPath({ band_id: band.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= band.Name %>
</p>
<p>
  <strong>Bio</strong>: <%= band.Bio %>
</p>
